@font-face {
    font-family: 'Floriselscript';
    src: url('./fonts/Floriselscript.ttf') format('truetype');
}
@font-face {
    font-family: 'Vetrino';
    src: url('./fonts/Vetrino.otf') format('opentype');
}
@font-face {
    font-family: 'eurofurencelight';
    src: url('./fonts/eurofurencelight.ttf') format('truetype');
}

:root {
    --primary: #eae0d5;
    --secondary: #0a0908;
}
html {
    font-size: calc(100vw / 1920*10);
}
body {
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--primary);
    color: var(--secondary);
    /*overflow: hidden;*/
}
section {
    display: block;
}
::-webkit-scrollbar {
    display: none;
}

h1 {
    font-family: 'Floriselscript';
    font-size: 14rem;
    line-height: 1.6;
    text-shadow: 0 0 0.2em #eae0d5, 0 0 0.2em #eae0d5, 0 0 0.2em #eae0d5, 0 0 0.2em #eae0d5;
}
h3 {
    font-family: 'Floriselscript';
    font-weight: 400;
    font-size: 8rem;
    line-height: 1.1;
}
p {
    font-family: 'eurofurencelight';
    font-size: 4rem;
    font-weight: 400;
}
h2 {
    font-family: 'Vetrino';
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 6rem;
    font-weight: 500;
    line-height: 1.1;
}
span,li {
    font-family: 'Vetrino';
    font-size: 4rem;
    font-weight: 400;
}
.hr_line {
    margin-top: 2%;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid var(--secondary);
	box-shadow: 0 20px 20px -20px #333;
	width: 20%;
}
.fade-in {
    opacity: 0;
}

/*hero section*/
.hero {
    display: contents;
    position: absolute;
    width: 100%;
    height: 40vh;
    z-index: 10;
}
.hero_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    gap: 6.4rem;
}
.hero_title {
    position: relative;
    width: 100%;
    text-align: center;
}
.hero_title_row {
    overflow: hidden;
}
.hero_title_row:nth-child(3) {
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
}

.hero_media {
    position: relative;
    z-index: -1;
}
.hero_media_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.hero_media_image {
    position: relative;
    object-fit: cover;
    opacity: 0.9;
    width: 24rem;
    height: 20rem;
}
.hero_media_image:nth-child(odd) {
    margin-right: -1.2rem;
}
.hero_media_image:nth-child(even) {
    margin-right: -1.2rem;
}
.hero_media_image:nth-child(1) {
    width: 40rem;
    height: 58rem;
}
.hero_media_image:nth-child(2) {
    width: 42rem;
    height: 62rem;
}
.hero_media_image:nth-child(3) {
    width: 44rem;
    height: 56rem;
}

/*invitation section*/
.invitation {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 10;
}
.invitation_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    gap: 6.4rem;
}
.invitation_title {
    position: relative;
    width: 80%;
    text-align: center;
}
.invitation_p {
    position: relative;
    width: 40%;
    text-align: center;
}
.invitation_timer {
    display: flex;
    justify-content: center;
    text-align: center;
}
.timer_item {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

/*timeline section*/
.timeline {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 10;
}
.timeline_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    gap: 6.4rem;
}
.timeline_title {
    position: relative;
    width: 80%;
    text-align: center;
}
.timeline_list {
    position: relative;
    width: 40%;
    text-align: center;
}

/*banket section*/
.banket {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 10;
}
.banket_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    gap: 6.4rem;
}
.banket_title {
    position: relative;
    width: 80%;
    text-align: center;
}
.banket_p {
    position: relative;
    width: 40%;
    text-align: center;
}
.banket_map_wrapper {
    position: relative;
    width: 50%;
    text-align: center;
}
.banket_media {
    position: relative;
    z-index: -1;
}
.banket_media_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.banket_media_image {
    position: relative;
    object-fit: cover;
    opacity: 0.9;
    width: 24rem;
    height: 20rem;
}
.banket_media_image:nth-child(odd) {
    margin-right: -1.6rem;
}
.banket_media_image:nth-child(even) {
    margin-right: -1.6rem;
}
.banket_media_image:nth-child(2) {
    width: 40rem;
    height: 58rem;
}
.banket_media_image:nth-child(1) {
    width: 42rem;
    height: 62rem;
}

/*section dresscode*/
.dresscode {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 10;
}
.dresscode_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    gap: 6.4rem;
}
.dresscode_title {
    position: relative;
    width: 80%;
    text-align: center;
}
.dresscode_p {
    position: relative;
    width: 40%;
    text-align: center;
}
.palitra {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.palitra_row {
    display: flex;
    flex-direction: row;
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 50px;
}

/*Responsive*/
@media screen and (max-width: 768px) {
    html {
        font-size: calc(100vw / 768 * 10);
    }
    h1 {
        font-size: 7rem;
    }
    h2 {
        font-size: 5rem;
    }
    .hero_wrapper {
        gap:0;
    }
    .hero_media {
        scale: 0.6;
    }
}

.arrow-7 {
    margin: 40px auto 40px auto;
    width: 10px;
    height: 50px;
}
.arrow-7 span {
    display: block;
    text-align: center;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid var(--secondary);
    border-right: 1px solid var(--secondary);
    transform: rotate(45deg);
    margin: -16px 0;
    animation: arrow-7 3s infinite;
}
.arrow-7 span:nth-child(1){
    animation-delay: -0.2s;
}
.arrow-7 span:nth-child(2){
    animation-delay: -0.4s;
}
@keyframes arrow-7 {
    0%{
        opacity: 0;
        transform: translate(0,-30px) rotate(45deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0,3.2rem) rotate(45deg);
    }
}